body {
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.jumbotron {
  background-color: white;
}

.bg-gradient {
  background-color: #1cc88a;
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  background-size: cover;
  background-attachment: fixed;
}

/* BUTTON */
.btn-black{
  color: white;
  background-color: black;
  border-color: black;
}

.btn-black:hover {
  color: white;
  background-color: #1b1c1c;
  border-color: #1b1c1c;
}

/* SIDEBAR */

.sidebar {
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #1cc88a;
  background-image: linear-gradient(180deg, #1cc88a, #13855c 100%);
  background-size: cover;
  overflow: auto;
}

/* SIDEBAR HEADER*/

.sidebar > div:first-child {
  font-weight: bold;
  color: white;
}

.sidebar > div:first-child > h6 {
  color: #f8f8f873;
}

/* SIDE BAR LIST*/
.sidebar .list-group > span {
  color: #ffffff66;
  display: block;
  margin-top: 20px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 300;
}

.sidebar .list-group .list-group-item {
  background-color: transparent;
  color: #ffffff66;
  border: 0;
  padding-left: 60px;
  padding-right: 30px;
}

.sidebar .list-group .list-group-item.active,
.sidebar .list-group .list-group-item:focus,
.sidebar .list-group .list-group-item:hover {
  background-color: #097d53;
  color: white;
}

/* CARD */
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-body {
  color: #919295;
}

.text-black {
  color: black;
}